@font-face {
    font-family: Violet-Sans;
    src: url("../fonts/violet-sans.woff");
    font-display: swap;
  }
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$black: #000720;
$white: white;
$green-mid: #05DC82;
$pink-mid: #F5BABA;
$yellow-mid: #FBFF21;

$font-violet: Violet-Sans, Arial, Helvetica, sans-serif;

body::-webkit-scrollbar {
    width: 0.8rem;
  }

body::-webkit-scrollbar-track {
background: $yellow-mid;
}

body::-webkit-scrollbar-thumb {
background: $green-mid;
}

html {
    scroll-behavior: smooth;
}

body {
    background: $black;
    color: $white;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    max-width: 1000px;
    margin: 60px auto 50px auto;
    padding: 0 2rem;
}
a {
    text-decoration: none;
    transition: color 400ms;
    &:focus {
        color: $pink-mid;
    }
}
h1, h2, a {
    font-family: $font-violet;
}
h1 {
    line-height: 1.4;
    margin-bottom: 1.2rem;
}
h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1.3;
}
p {
    margin-bottom: 0.8rem;
    font-weight: 200;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    img {
        max-width: 320px;
    }
    a {
        color: $white;
        margin-left: 30px;
        &:hover {
            color: $pink-mid;
        }
        &.selected {
            color: $green-mid;
            pointer-events: none;
        }
    }
}

section {
    margin: 100px 0;
    display : grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    // ?STOPS GRID FROM FLOWING ON TO NEW LINES
    grid-auto-flow: dense;

    h1 {
        grid-column: 2 / span 10;
        text-align: center;
        font-size: 2.4rem;
    }
}

.project {
    padding-top: 2rem;
    .artwork {
        grid-column: 1 / span 8;
        display: flex;
        justify-content: center;
    }
    img {
        max-height: 640px;
        object-fit: contain;
    }
    .description {
        grid-column: 9 / span 4;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
    } 
}

.project-flip {
    .artwork {
        grid-column: 5 / span 8;
    }
    .description {
        grid-column: 1 / span 4;
    } 
}

.about {
    h1 {
        text-align: left;
    }
    .about-headshot {
        grid-column: 1 / span 7;
    }
    .about-description {
        grid-column: 8 / span 5;
    } 
}

.contact {
    margin-bottom: 2rem;
    min-height: 50vh;
    a {
        color: $pink-mid;
    }
    .form {
        grid-column: 3 / span 8;
    }
    label {
        display: block;
        margin: 1rem 0;
    }
    input, textarea {
        width: 100%;
        background: $black;
        border: 2px soild $white;
        color: $white;
        padding: 0.5rem 1rem;
        transition: border 400ms;
    }
    textarea {
        min-height: 200px;
        resize: vertical;
    }
    button {
        background: $yellow-mid;
        font-family: $font-violet;
        font-size: 1.4rem;
        padding: 0.6rem 1.2rem;
        border: none;
    }
    input, textarea {
        &:focus {
            outline: $yellow-mid auto 5px;
            border: 2px solid $pink-mid;
        }
    }
    .button-box {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

footer {
    display: flex;
    justify-content: center;
    a {
        color: $white;
        font-size: 2.4rem;
        margin: 0 16px;
        &:hover {
            color: $pink-mid;
        }
    }
}


@media only screen and (max-width:1200px) {
    body {
        width: auto;
        margin: 60px 64px;
    }
    header a {
        margin-left: 16px;
        font-size: 1.8rem;
    }
    section {
            h1 {
            font-size: 2rem;
        }
    }
    footer a {
        font-size: 1.8rem;
    }
}
@media only screen and (max-width:945px) {
    h2 {
        font-size: 1.6rem;
    }
    body {
        margin: 2rem 1rem;
    }
    header {
        height: auto;
        flex-direction: column;
        img {
            max-width: 260px;
        }
        a {
            font-size: 1.4rem;
            margin: 0 8px;
        }
    }
    section {
        h1 {
        font-size: 1.6rem;
        line-height: 1.5;
    }
}

}

@media only screen and (max-width: 660px) {
    h2 {
        font-size: 1.4rem;
    }
    body {
        margin: 1.8rem 0.4rem;
        padding: 1rem;
        font-size: 14px;
    }
    header {
        img {
            width: 100%;
        }
        nav {
            margin-top: -10px;
        }
        a {
            font-size: 1.2rem;
            margin: 0 4px;
        }
    }
    section {
        margin: 24px 0;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        h1 {
            grid-column: 1 / span 4;
            text-align: center;
            font-size: 1.2rem;
            margin-top: 1rem;
        }
    }
    .project {
        padding-top: 1.6rem;
        .artwork {
            grid-column: 1 / span 4;
        }
        .description {
            grid-column: 1 / span 4;
        } 
    }
    .about {
        .about-headshot {
            grid-column: 1 / span 4;
        }
        .about-description {
            grid-column: 1 / span 4;
        } 
    }
    .contact {
        .form {
            grid-column: 1 / span 4;
        } 
    }
    footer a {
        font-size: 1.2rem;
    }
}